version: "3"

services:
  db:
    image: moradaapp/pgdb-alpha
    restart: always
    hostname: db
    ports:
      - "7846:5432"

  app:
    env_file: ../.env
    image: moradaapp/registry-api-alpha
    hostname: app
    restart: always
    ports:
      - "7941:8080"
