version: "3"

services:
  db:
    image: postgres
    restart: always
    hostname: db
    ports:
      - "7845:5432"
    environment:
      POSTGRES_DB: "mydb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: password
    volumes:
      - db:/var/lib/postgresql/data

  ### DESCOMENTAR CASO A SIGNATURE_TYPE ESTEJA MARCADA COMO "dynamic"
  # createKeyFunc:
  #   image: nicolascbv/moradaapp-key-manager:latest
  #   restart: always
  #   env_file: .env
  #   hostname: createkeyfunc
  #   command: pnpm functions:createkeyfunc
  #   ports:
  #     - 8411:8411
  # 
  # deleteKeyFunc:
  #   image: nicolascbv/moradaapp-key-manager:latest
  #   env_file: .env
  #   restart: always
  #   hostname: deletekeyfunc
  #
  #   command: pnpm functions:deletekeyfunc
  #   ports:
  #     - 8412:8412
  #
  # updateKeyFunc:
  #   image: nicolascbv/moradaapp-key-manager:latest
  #   env_file: .env
  #   restart: always
  #   hostname: updatekeyfunc
  #   command: pnpm functions:updatekeyfunc
  #   ports:
  #     - 8413:8413
  ###################################################################

  app:
    image: moradaapp/registry-api-devtool 
    hostname: app
    restart: always
    volumes:
      - .:/home/node/app
      - firebase-cache:/root/.cache/firebase
      - firebase-configs:/root/.config
    ports:
      - 8081:8081 # Cloud Firestore
      - 4001:4001 # Emulator Suite UI
      # - 4500:4500 # Logging
      # - 4400:4400 # Hub
      - 9229:9229 # Debugger
      - 4845:3000

volumes:
  db:
    driver: local
  firebase-cache:
    driver: local
  firebase-configs:
    driver: local
