name: CD - Deploy database in development stage on Dockerhub

on:
  push:
    branches: 
      - "main" 
      - "release/**"
    paths:
      - "example/init.sql"
      - "example/pg.Dockerfile"
      - ".github/workflows/dockerhub-deploy-database.yml"

jobs:
  dockerhub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        id: git-clone
        name: Cloning repository

      - name: Docker hub login
        id: docker-hub-login
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_PASSWORD}}

      - uses: docker/build-push-action@v5
        name: Build and push SQL image
        id: build-and-push-sql
        with:
          context: "{{defaultContext}}:example"
          file: ./pg.Dockerfile
          push: true
          tags: ${{secrets.DOCKER_SQL_IMAGE_TAG}}-alpha
